@charset "UTF-8";
/* 여기서부터 복사 */
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 2025-10-02 해당 폰트 링크에 데이터가 없는 관계로 f1 폰트 사용하던 폰트들 Pretendard Variable 변경 */
@font-face {
  font-family: "f1";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "f2";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
}
@font-face {
  font-family: "f3";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifMedium.woff") format("woff");
}
.raylab {
  width: 100%;
  padding-top: 80px;
  overflow: hidden;
  color: #333333;
  font-size: 16px;
}
.raylab body,
.raylab div,
.raylab dl,
.raylab dt,
.raylab dd,
.raylab ul,
.raylab ol,
.raylab li,
.raylab h1,
.raylab h2,
.raylab h3,
.raylab h4,
.raylab h5,
.raylab h6,
.raylab pre,
.raylab code,
.raylab form,
.raylab fieldset,
.raylab legend,
.raylab input,
.raylab textarea,
.raylab p,
.raylab blockquote,
.raylab button {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", serif;
  box-sizing: border-box;
}
.raylab a {
  font-family: "Pretendard Variable", serif;
  font-size: 16px;
}
.raylab li {
  list-style: none;
}

.raylab .arti li {
  list-style: disc;
  margin-left: 20px;
  line-height: 1.6em;
}

.raylab h3 {
  font-family: "f2", "Pretendard Variable", serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 105px;
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.raylab h3.type1 {
  text-align: center;
}
.raylab h3.type1 .after {
  width: 290px;
  height: 105px;
  background: url(https://RAYLab2.github.io/RRA/img/bg_heading01.png) no-repeat center center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.raylab h3.type2 .after {
  content: "";
  display: block;
  width: 351px;
  height: 105px;
  background: url(https://RAYLab2.github.io/RRA/img/bg_heading02.png) no-repeat center center;
  position: absolute;
  top: 47%;
  right: calc(100% - 270px);
  transform: translateY(-50%);
  z-index: -1;
}
.raylab h4 {
  text-align: center;
  margin-bottom: 26px;
}
.raylab h4 span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.raylab h4 span .after {
  width: calc(100% + 24px);
  height: 20px;
  background-color: rgba(96, 53, 141, 0.15);
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  z-index: -1;
}
.raylab p {
  line-height: 1.6em;
  word-break: keep-all;
}
.raylab button {
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-top: 16px;
  background-color: unset;
}
.raylab button a {
  display: inline-block;
  padding: 4px 12px;
  background-color: rgba(96, 53, 141, 0.8);
  color: #ffffff;
  text-decoration: unset;
  border-radius: 4px;
  transition: background 0.1s;
}
.raylab button a:hover {
  background-color: #60358d;
}
.raylab img {
  vertical-align: top;
}
.raylab .wrap {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 80px;
  position: relative;
}
.raylab .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.raylab .list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.raylab .list li div {
  width: 100px;
  height: 100px;
  font-size: 76px;
  transform-origin: bottom;
}
.raylab .list li h6 {
  font-size: 16px;
  font-weight: bold;
}
.raylab .list li p {
  font-family: "Nanum Pen Script", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1em;
}
.raylab .list li p.red {
  color: orangered;
}
.raylab .list li:nth-child(6n) {
  margin-right: 0;
}
.raylab .list li:hover div {
  animation: hov1 0.6s both;
}

/* 2025-10-02 */
/* 레이랩 전형 절차 list를 위한 클래스 추가 */

.raylab .procedurelist {
  display: flex;
  align-items: center;
  gap: 15px;
}
.raylab .procedurelist li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 16px * 4) / 5);
  height: 167px;
}

.raylab .procedurelist li:nth-child(even) {
  width: 18px;
  height: 18px;
}

.raylab .procedurelist li div {
  width: 100%;
  height: 100px;
  font-size: 76px;
  transform-origin: bottom;
}
.raylab .procedurelist li h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 8px 0;
  word-break: keep-all;
}
.raylab .procedurelist li p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
}
.raylab .procedurelist li p.red {
  color: orangered;
}
.raylab .procedurelist li:nth-child(6n) {
  margin-right: 0;
}

.raylab .noti3 .procedurelist li:nth-child(5n) {
  margin-right: 0;
}

.raylab .procedurelist li:hover div {
  animation: hov1 0.6s both;
}

/* 레이랩 전형 절차 list를 위한 클래스 추가 끝*/

.raylab .title .head {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  background: url(https://RAYLab2.github.io/RRA/img/symbol_ray_title01.png) no-repeat center left;
  background-size: contain;
}
.raylab .title h1 {
  font-size: 48px;
  text-transform: uppercase;
  padding-bottom: 180px;
  padding-top: 120px;
  background: url(https://RAYLab2.github.io/RRA/img/symbol_ray_charactor.png) no-repeat;
  /* 세로 위치는 top 50px, 가로 위치는 center */
  background-position: right -5px top 35px;
  background-size: auto;
}
.raylab .title h1 div {
  line-height: 1.2em;
}
.raylab .title h1 span {
  color: #854bb8;
}
.raylab .title h2 {
  font-size: 24px;
  color: #854bb8;
}
.raylab .title .sub {
  margin: 24px 0;
}
.raylab .title .info {
  padding-bottom: 72px;
  border-bottom: 4px dotted #dddddd;
  margin-bottom: 72px;
}
.raylab .title .info p {
  position: relative;
  padding-left: 30px;
  line-height: 2;
}
.raylab .title .info p:nth-child(1) {
  background: url(https://RAYLab2.github.io/RRA/img/about-1.png) no-repeat left center;
}
.raylab .title .info p:nth-child(2) {
  background: url(https://RAYLab2.github.io/RRA/img/about-2.png) no-repeat left center;
}
.raylab .title .info p:nth-child(3) {
  background: url(https://RAYLab2.github.io/RRA/img/about-3.png) no-repeat left center;
}
.raylab .noti1 .arti {
  position: relative;
}
.raylab .noti1 .arti h4 span {
  padding: 0 32px;
  background: url(https://RAYLab2.github.io/RRA/img/speed-2.png) no-repeat left center, url(https://RAYLab2.github.io/RRA/img/speed-3.png) no-repeat right center;
}
.raylab .noti1 .arti ul {
  display: inline-block;
  width: calc(100% - 336px);
  vertical-align: top;
  padding: 0 16px;
}
.raylab .noti1 .arti ul li > span {
  display: inline-block;
  padding: 10px 12px;
  background-color: #ededed;
  border-radius: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  position: relative;
}
.raylab .noti1 .arti ul li > span .after {
  width: 24px;
  height: 24px;
  background: url(https://RAYLab2.github.io/RRA/img/bg_textL.png) no-repeat center bottom;
  position: absolute;
  bottom: 0;
  left: -12px;
}
.raylab .noti1 .arti ul li.ans {
  text-align: right;
}
.raylab .noti1 .arti ul li.ans > span {
  background-color: #60358d;
  color: #ffffff;
}
.raylab .noti1 .arti ul li.ans > span .after {
  background: url(https://RAYLab2.github.io/RRA/img/bg_textR.png) no-repeat center bottom;
  left: unset;
  right: -12px;
}
.raylab .noti1 .arti ul li.emoj > span {
  padding-right: 38px;
  background: url(https://RAYLab2.github.io/RRA/img/speed-1.png) no-repeat right 12px center, #60358d;
}
.raylab .noti1 .arti:nth-child(1) {
  font-size: 0;
  margin-bottom: 50px;
  background: url(https://RAYLab2.github.io/RRA/img/TT.gif) no-repeat right center;
  background-size: 320px;
}
.raylab .noti1 .arti:nth-child(2) {
  text-align: center;
}
.raylab .noti1 .arti:nth-child(2) p:nth-child(3) {
  margin-top: 20px;
  color: #bbbbbb;
}
.raylab .noti1 .arti:nth-child(2) button > a {
  width: 80%;
}
.raylab .noti2 {
  margin-top: 95px;
}
.raylab .noti2 .wrap {
  z-index: 2;
}

/* 레이랩 복지 배경 */
.raylab .noti2 .wrap > .after {
  content: "";
  display: block;
  width: 100%;
  height: 395px;
  background: url(https://RAYLab2.github.io/RRA/img/line_row.png) repeat center, url(https://RAYLab2.github.io/RRA/img/line_span.png) repeat center;
  opacity: 0.15;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: -1;
}
.raylab .noti2 .wrap .list li:nth-child(1) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-1.png) no-repeat center center;
}
.raylab .noti2 .wrap .list li:nth-child(2) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-2.png) no-repeat center center;
}
.raylab .noti2 .wrap .list li:nth-child(3) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-3.png) no-repeat center center;
}
.raylab .noti2 .wrap .list li:nth-child(4) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-4.png) no-repeat center center;
}
.raylab .noti2 .wrap .list li:nth-child(5) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-5.png) no-repeat center center;
}
.raylab .noti2 .wrap .list li:nth-child(6) div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-6.png) no-repeat center center;
}

.raylab .noti2 .wrap .procedurelist li:nth-child(1) > div {
  background-size: contain !important;
  background: url(https://RAYLab2.github.io/RRA/img/step-1.png) no-repeat center center;
}
.raylab .noti2 .wrap .procedurelist li:nth-child(3) > div {
  background-size: contain !important;
  background: url(https://RAYLab2.github.io/RRA/img/step-2.png) no-repeat center center;
}
.raylab .noti2 .wrap .procedurelist li:nth-child(5) > div {
  background-size: contain !important;
  background: url(https://RAYLab2.github.io/RRA/img/step-3.png) no-repeat center center;
}
.raylab .noti2 .wrap .procedurelist li:nth-child(7) > div {
  background-size: contain !important;
  background: url(https://RAYLab2.github.io/RRA/img/step-4.png) no-repeat center center;
}

.raylab .noti2 .wrap .procedurelist li:nth-child(9) > div {
  background-size: contain !important;
  background: url(https://RAYLab2.github.io/RRA/img/step-5.png) no-repeat center center;
}

.raylab .noti2 .arti {
  margin-top: 60px;
}
.raylab .noti2 .arti p > b {
  font-family: "Pretendard Variable", serif;
  font-size: 24px;
}
.raylab .noti2 .arti p.point {
  color: #60358d;
}
.raylab .noti2 .arti p.emoji1 {
  padding-right: 26px;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-9.png) no-repeat right center;
}
.raylab .noti2 .arti p.emoji2 {
  padding-right: 26px;
  background: url(https://RAYLab2.github.io/RRA/img/welfare-10.png) no-repeat right center;
}
.raylab .noti2 .arti > div {
  height: 210px;
  margin: 12px 0;
  font-size: 0;
}
.raylab .noti2 .arti > div > span {
  display: inline-block;
  height: 100%;
}
.raylab .noti2 .arti > div > span:nth-child(1) {
  width: calc(66% - 8px);
  margin-right: 8px;
  background: url(https://RAYLab2.github.io/RRA/img/office01.jpg) no-repeat center center;
  background-size: cover;
}
.raylab .noti2 .arti > div > span:nth-child(2) {
  width: 34%;
  background: url(https://RAYLab2.github.io/RRA/img/office02.jpg) no-repeat center center;
  background-size: cover;
}
.raylab .noti2 .arti > div ~ p {
  text-align: right;
}
.raylab .noti3 {
  margin-top: 90px;
}
.raylab .noti3 .wrap {
  z-index: 2;
}
.raylab .noti3 .wrap > .after {
  display: block;
  width: 100%;
  height: 230px;
  background: url(https://RAYLab2.github.io/RRA/img/bg_texture01.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
}
.raylab .noti3 .wrap > p:last-child {
  padding-bottom: 40px;
  border-bottom: 4px dotted #dddddd;
}
.raylab .noti3 .wrap .procedurelist {
  margin-top: 24px;
  margin-bottom: 80px;
}
.raylab .noti3 .wrap .procedurelist p {
  font-family: "Pretendard Variable", serif;
  font-weight: normal;
}
.raylab .noti3 .wrap .procedurelist li:nth-child(1) > div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/step-1.png) no-repeat center center;
}
.raylab .noti3 .wrap .procedurelist li:nth-child(2) > div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/step-2.png) no-repeat center center;
}
.raylab .noti3 .wrap .procedurelist li:nth-child(3) > div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/step-3.png) no-repeat center center;
}
.raylab .noti3 .wrap .procedurelist li:nth-child(4) > div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/step-4.png) no-repeat center center;
}

.raylab .noti3 .wrap .procedurelist li:nth-child(5) > div {
  background-size: contain;
  background: url(https://RAYLab2.github.io/RRA/img/step-5.png) no-repeat center center;
}

.detail {
  position: relative;
  z-index: 3;
}
.detail h2 {
  padding-top: 110px;
  padding-left: 80px;
  padding-bottom: 110px;
  position: relative;
  z-index: 2;
  font-family: "f2", "Pretendard Variable", serif;
  font-size: 24px;
  font-weight: normal;
}
.detail h2 span {
  display: inline-block;
  width: 440px;
  height: 75px;
  background: url(https://RAYLab2.github.io/RRA/img/bg_heading03.png) no-repeat bottom;
  background-size: contain;
  text-align: center;
  padding-top: 190px;
  padding-right: 40px;
  color: #ffffff;
  position: absolute;
  top: -8px;
  left: -130px;
  z-index: -1;
}
.detail h6 {
  font-weight: bold;
}
.detail .before {
  width: 100%;
  height: calc(100% - 120px);
  text-align: center;
  background: url(https://RAYLab2.github.io/RRA/img/bg_texture02.png) no-repeat top -20px center;
  background-size: cover;
  font-family: "Nanum Pen Script", serif;
  font-size: 30px;
  text-indent: 300px;
  color: #ffffff;
  opacity: 0.4;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
}
.detail ul {
  padding-bottom: 160px;
}
.detail ul li {
  margin-top: 24px;
}
.detail ul li h6,
.detail ul li p {
  font-size: 16px;
}
.detail ul li h6 > span,
.detail ul li p > span {
  margin-left: 4px;
  font-size: 0.9rem;
  color: purple;
}
.detail ul li h6 {
  padding-top: 4px;
  margin-bottom: 4px;
  padding-left: 32px;
}
.detail ul li p.point {
  color: #60358d;
}
.detail ul li:nth-child(1) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-1.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(2) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-2.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(3) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-3.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(4) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-4.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(5) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-5.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(6) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-6.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(7) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-7.png) no-repeat left center;
  height: 28px;
}
.detail ul li:nth-child(8) h6 {
  background: url(https://RAYLab2.github.io/RRA/img/job-8.png) no-repeat left center;
  height: 28px;
}
.detail .after {
  width: 100%;
  max-width: 860px;
  height: 100px;
  padding: 8px 16px;
  background-color: #854bb8;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: right;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@keyframes hov1 {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(0.8) scaleX(1.2);
  }
  65% {
    transform: scaleY(1.1) scaleX(0.9) translateY(-8px);
  }
  85% {
    transform: scaleY(0.95) scaleX(1.01) translateY(0);
  }
  100% {
    transform: scaleY(1) scaleX(1) translateY(0);
  }
}
@keyframes hov2 {
  0% {
    transform: scaleY(1);
  }
  6% {
    transform: scaleY(0.8) scaleX(1.2);
  }
  14% {
    transform: scaleY(1.1) scaleX(0.9) translateY(-8px);
  }
  18% {
    transform: scaleY(0.95) scaleX(1.01) translateY(0);
  }
  24% {
    transform: scaleY(1) scaleX(1) translateY(0);
  }
}
/* 2025-10-02 기존 767 -> 884*/
@media screen and (max-width: 884px) {
  .raylab {
    padding-top: 16px;
  }
  .raylab .wrap {
    padding: 0 16px;
  }

  .raylab .title h1 {
    background-position: right -135px top 165px;
  }
  .raylab .list li {
    /* width: calc((100% - 16px) / 2); */
    margin-right: 14px;
    text-align: center;
  }
  .raylab .list li:nth-child(1) > div {
    animation: hov2 3s 7.98s infinite;
  }
  .raylab .list li:nth-child(2) > div {
    animation: hov2 3s 2.25s infinite;
  }
  .raylab .list li:nth-child(3) > div {
    animation: hov2 3s 1.89s infinite;
  }
  .raylab .list li:nth-child(4) > div {
    animation: hov2 3s 3.63s infinite;
  }
  .raylab .list li:nth-child(5) > div {
    animation: hov2 3s 8.67s infinite;
  }
  .raylab .list li:nth-child(6) > div {
    animation: hov2 3s 8.34s infinite;
  }
  .raylab .list li:nth-child(7) > div {
    animation: hov2 3s 6.9s infinite;
  }
  .raylab .list li:nth-child(8) > div {
    animation: hov2 3s 1.56s infinite;
  }
  .raylab .list li h6 {
    word-break: keep-all;
    /* padding: 0 5vw; */
  }
  .raylab .list li:nth-child(2n) {
    margin-right: 0;
  }
  .raylab .title h1 div {
    font-size: 10vw;
  }
  .raylab .noti1 .arti {
    text-align: center;
  }
  .raylab .noti1 .arti ul {
    width: 100%;
    margin-bottom: 24px;
  }
  .raylab .noti1 .arti ul li {
    text-align: left;
  }
  .raylab .noti1 .arti ul li > span {
    padding: 1.5vw 4vw;
  }
  .raylab .noti1 .arti > img {
    width: 80%;
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
  }
  .raylab .noti1 .arti:nth-child(1) {
    background-position: bottom center;
    background-size: 80vw;
    padding-bottom: 54vw;
  }

  .raylab .noti2 .wrap > .after {
    height: 395px;
  }
  .raylab .noti2 .arti p {
    text-align: right;
  }
  .raylab .noti2 .arti > div {
    height: unset;
  }
  .raylab .noti2 .arti > div > span:nth-child(1) {
    width: 100%;
    height: 50vw;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .raylab .noti2 .arti > div > span:nth-child(2) {
    width: 100%;
    height: 70vw;
    margin-right: 0;
  }
  .raylab .noti2 .arti > div ~ p {
    text-align: left;
    margin-top: 8px;
  }
  .raylab .noti3 .wrap > .after {
    height: 260px;
  }
  .raylab .noti3 .procedurelist li {
    width: 100%;
    margin-right: 0;
  }
  
  .raylab .procedurelist {
    gap: 10px;
  }

  .raylab .procedurelist li:nth-child(even) {
    width: 12px;
    height: 12px;
  }
  .raylab .procedurelist li:nth-child(even) > img {
    width: 12px;
    height: 12px;
  }
  .raylab .noti3 p {
    margin-top: 8px;
  }

  .raylab .detail ul li h6 > span {
    display: block;
    margin-left: 0;
  }

  .raylab .procedurelist li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }

  .raylab .procedurelist li div {
    width: 50px;
    height: 50px;
    font-size: 38px;
  }

  .raylab .noti2 .wrap .procedurelist li:nth-child(1) > div {
    background-size: 3.125rem;
  }
  .raylab .noti2 .wrap .procedurelist li:nth-child(2) > div {
    background-size: 3.125rem;
  }
  .raylab .noti2 .wrap .procedurelist li:nth-child(3) > div {
    background-size: 3.125rem;
  }
  .raylab .noti2 .wrap .procedurelist li:nth-child(4) > div {
    background-size: 3.125rem;
  }
  .raylab .noti2 .wrap .procedurelist li:nth-child(5) > div {
    background-size: 3.125rem;
  }

  .sizechange {
    height: 220px !important;
  }
} /*# sourceMappingURL=rra.css.map */

.point {
  color: #854bb8;
}

.noti3_point {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.noti3_point li {
  background: url(https://RAYLab2.github.io/RRA/img/check.png) no-repeat left center;
  padding-left: 30px;
  word-break: keep-all;
}

/* .noti3_point li:first-child {
  margin-top: 10px;
} */

.mg-top-160 {
  margin-top: 160px !important;
}
.mg-top-120 {
  margin-top: 120px !important;
}
.mg-top-80 {
  margin-top: 80px !important;
}
.mg-top-40 {
  margin-top: 40px !important;
}
.mg-top-20 {
  margin-top: 20px !important;
}
